node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
package-lock.json
yarn.lock
*.log
.DS_Store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
